@model IEnumerable<Event>

<h2>All Events</h2>

<div style="display: block">
    <a href="/Event/InsertEvent/">Create a New Event</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Event Name</th>
        <th>Attendees</th>
        <th>Event Type</th>
        <th>Special Attribute</th>
        <th>Address</th>
        <th>Description</th>
    </tr>

    @foreach (var all_events in @Model)
    {
        <tr>
            <td><a href=/Event/ViewEvent/@all_events.EventID>@all_events.EventID</a></td>
            <td>@all_events.EventName</td>
            <td>@all_events.Attendees</td>
            <td>@all_events.EventType</td>
            <td>@all_events.SpecialAttribute</td>
            <td>@all_events.Address</td>
            <td>@all_events.Description</td>
        </tr>
    }

</table>