@model IEnumerable<Event>

<h2>All Events</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Attendees</th>
        <th>Event Type</th>
        <th>Special Attributes</th>
        <th>Address</th>
        <th>Description</th>
    </tr>

    @foreach (var all_events in @Model)
    {
        <tr>
            <td><a href=/Event/ViewEvent/@all_events.EntryID>@all_events.EntryID</a></td>
            <td>@all_events.Attendees</td>
            <td>@all_events.EventType</td>
            <td>@all_events.SpecialAttributes</td>
            <td>@all_events.Address</td>
            <td>@all_events.Description</td>
        </tr>
    }

</table>