@model Event

<h2>Create a New Event</h2>

@using (Html.BeginForm("InsertNewEventToDatabase", "Event", "Post"))
{
    <input asp-for="EventID" type="hidden" value="" />

    <label asp-for="Date" class="control-label">Date</label>
    <input type="text" name="Date" class="form-control" value="@Model.Date" />

    <label asp-for="EventName" class="control-label">Event Name</label>
    <input type="text" name="EventName" class="form-control" value="" />


    //Attendee drop down menu
    <div class="form-group">
        <label for="">Select an Attendee</label>
        <select class="form-control" name="Attendee" value="">
            @foreach (var type in Model.AttendeeList)
            {
                <option value="@type.AttendeeName">@type.AttendeeName</option>
            }
        </select>
    </div>

    //Event Type drop down menu
    <div class="form-group">
        <label for="">Select an Event Type</label>
        <select class="form-control" name="EventType" value="">
            @foreach (var type in Model.EventTypeList)
            {
                <option value="@type.EventTypeName">@type.EventTypeName</option>
            }
        </select>
    </div>

    //Special Attribute drop down menu
    <div class="form-group">
        <label for="">Select a Special Attribute</label>
        <select class="form-control" name="SpecialAttribute" value="">
            @foreach (var type in Model.SpecialAttributeList)
            {
                <option value="@type.SpecialAttributeName">@type.SpecialAttributeName</option>
            }
        </select>
    </div>

    <label asp-for="Address" class="control-label">Address</label>
    <input type="text" name="Address" class="form-control" />

    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" name="Description" class="form-control" />

    

   <input type="submit" value="Create Event" class="btn btn-primary" />
}