@model Event

<h3>@Model.EventType</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Event Name</th>
        <th>Attendees</th>
        <th>Event Type</th>
        <th>Special Attribute</th>
        <th>Address</th>
        <th>Description</th>
    </tr>


    <tr>
        <td>@Model.EventID</td>
        <td>@Model.EventName</td>
        <td>@Model.Attendees</td>
        <td>@Model.EventType</td>
        <td>@Model.SpecialAttribute</td>
        <td>@Model.Address</td>
        <td>@Model.Description</td>
    </tr>


</table>

<div style="display: block">
    <a href="/Event/ViewUpdateEvent/@Model.EventID">Update Event</a>
</div>

<div style="display: block", align="right">

    @using (Html.BeginForm("DeleteEvent", "Event", "Post"))
    {
        <input type="hidden" asp-for="EventID" value="@Model.EventID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>