@model Event

<h2>@Model.EventType</h2>


<div id="table-pages"> 
    <table class="table">
        <tr>
            
            <th>Date</th>
            <th>Event Name</th>
            <th>Attendees</th>
            <th>Event Type</th>
            <th>Special Attribute</th>
            <th>Address</th>
            @*<th>Description</th>*@
        </tr>


        <tr>
            
            <td>@Model.Date</td>
            <td>@Model.EventName</td>
            <td>@Model.Attendees</td>
            <td>@Model.EventType</td>
            <td>@Model.SpecialAttribute</td>
            <td>@Model.Address</td>
            @*<td>@Model.Description</td>*@
        </tr>


    </table>

</div>

<div id="table-pages">
    <h4 align="center">Description</h4>
    @Model.Description
</div>




<div>
    <a type="submit" value="Update Event" class="btn btn-success" href="/Event/ViewUpdateEvent/@Model.EventID">Update Event</a>
    <a type="submit" value="Update Event" class="btn btn-success" href="/Event/Index/@Model.EventID">All Events</a>
</div>

<div style="display: block", align="right">

    @using (Html.BeginForm("DeleteEvent", "Event", "Post"))
    {
        <input type="hidden" asp-for="EventID" value="@Model.EventID" />
        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')" value="Delete this event" />
    }
</div>



    @**@