@model Event

<h2>@Model.EventType</h2>

<div>

    <a href="/Event/ViewUpdateEvent/@Model.EventID" type="submit" value="Update Event" class="btn btn-success" data-inline="true">Update Event</a>
    <a href="/Event/Index/@Model.EventID" type="submit" value="Update Event" class="btn btn-success" data-inline="true">All Events</a>
    <a float="right </a>

    @using (Html.BeginForm("DeleteEvent", "Event", "Post"))
    {
    <input type="hidden" asp-for="EventID" value="@Model.EventID" />
    <input type="submit" class="btn btn-danger" float="right" onclick="return confirm('Are you sure?')" value="Delete this event" />
    }
</div>
<p> </p>

<div id="table-pages"> 
    <table class="table">
        <tr>
            
            <th>Date</th>
            <th>Event Name</th>
            <th>Attendees</th>
            <th>Event Type</th>
            <th>Special Attribute</th>
            <th>Address</th>
        </tr>


        <tr>
            
            <td>@Model.Date</td>
            <td>@Model.EventName</td>
            <td>@Model.Attendees</td>
            <td>@Model.EventType</td>
            <td>@Model.SpecialAttribute</td>
            <td>@Model.Address</td>
            @*<td>@Model.Description</td>*@
        </tr>


    </table>

</div>

<div id="table-pages">
    <h4 align="center">Description</h4>
    @Model.Description
</div>





