@model Event

<h3>@Model.EventType</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Attendees</th>
        <th>Event Type</th>
        <th>Special Attribute</th>
        <th>Address</th>
        <th>Description</th>
    </tr>


    <tr>
        <td>@Model.EventID</td>
        <td>@Model.Attendees</td>
        <td>@Model.EventType</td>
        <td>@Model.SpecialAttribute</td>
        <td>@Model.Address</td>
        <td>@Model.Description</td>
    </tr>


</table>

<div style="display: block">
    <a href="/Event/ViewUpdateEvent/@Model.EventID">Update this Event</a>
</div>