@model IEnumerable<EventType>

<h2>All Event Types</h2>

<div style="display: block">
    <a href="/EventType/InsertEventType/">Create a New Event Type</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>EventType Name</th>
        <th>Update Event Type</th>
        <th>Delete Event Type</th>
    </tr>

    @foreach (var eventType in @Model)
    {
        <tr>
            <td>@eventType.EventTypeID</td>
            <td>@eventType.EventTypeName</td>
            <td><a href="/EventType/UpdateEventType/@eventType.EventTypeID">Update @eventType.EventTypeName</a></td>
            <td>
                @using (Html.BeginForm("DeleteEventType", "EventType", "Post")) 
                {
                    <input type="hidden" value="@eventType.EventTypeID" />
                    <input type="submit" @*class="btn btn-danger"*@ onclick="return confirm('Are you sure?')" value="Delete @eventType.EventTypeName" />
                }
            </td>
        </tr>
    }

</table>
