@model EventType

<h2>Update or Delete @Model.EventTypeName</h2>

@using (Html.BeginForm("UpdateEventTypeToDatabase", "EventType", "Post")) 
{
    <input asp-for="EventTypeID" type="hidden" value="@Model.EventTypeID" />

    
    <input type="text" name="EventTypeName" class="form-control" value="@Model.EventTypeName" />


    <input type="submit" value="Update Event Type" class="btn btn-primary" />
}

<div style="display: block"  align="right">

    @using (Html.BeginForm("DeleteEventType", "EventType", "Post"))

    {
        <input type="hidden" asp-for="EventTypeID" value="@Model.EventTypeID" />
        <input type="hidden" asp-for="EventTypeName" value="@Model.EventTypeName" />
        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')" value="Delete Event Type" /> 
    }

</div>
